body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana;
}

.container {
    border: 1px solid #3d4543;

    height: 100%;
    display: grid;
    grid-template-areas: "header header" "left-menu main" "footer footer";
    grid-template-columns: 30% auto;
    grid-template-rows: 100px auto 60px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-transform: uppercase;
}

.left-menu {
    grid-area: left-menu
}

.aside {
    grid-area: aside
}

.main {
    grid-area: main
}

.footer {
    grid-area: footer
}