html{

  background-color:black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}
.canvas {
  border: solid .3em #8888;
  height: 90vh;
  display: inline-block;
  width: 30%;
}

.controls{
   font-size: 18px;
   font-weight: bold;
   color: white;
   padding:10px;
   margin-bottom: 20px;
   border-bottom: 1px solid gold;
 }
.titels{
  font-size: 46px;
  font-weight: bold;
  color: white;
  padding:10px;
  margin-bottom: 20px;

}
