.field {
    display: flex;
    background-color: darkgreen;
    height: 350px;
    width: 540px;
}

.field-wrapper {
    padding: 10px;
    position: relative;
    display: flex;
    border: 1px solid #3d4543;
    width: 43%;
    margin-left: auto;
    margin-right: auto;
}

.leftGuard,
.rightGuard {
    display: flex;
    width: 20px;
    align-items: center;
}

.leftGuard .guard,
.rightGuard .guard {
    border: 2px solid #3d4543;
    height: 100px;
    width: 20px;
}

.leftGuard .guard {
    border-right-width: 0;
}

.rightGuard .guard {
    border-left-width: 0;
}

.field .leftSide {
    width: 50%;
    border-right: 2px solid #fff;
}

/*табло*/
.score_wrapper {
    position: relative;
    width: 350px;
    height: 150px;
    background-color: grey;
    border: 3px solid black;
    margin: 10px auto;
}

.team_name1, .team_name2{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: white;
    top: 25px;
    border: 2px solid black;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.1em;
}

.team_name1 {
    left: 20px;
    color: darkgreen;

}

.team_name2 {
    right: 20px;
    color: darkblue;

}

.timer {
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: white;
    top: 12px;
    left: 138px;
    border: 2px solid black;
}

.score_team1,
.score_team2 {
    position: absolute;
    top: 80px;
    width: 55px;
    height: 55px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    font-weight: 700;
}

.score_team1 {
    color: darkgreen;
    left: 43px;
}

.score_team2 {
    color: darkblue;
    right: 43px;
}

.new-game-button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: dimgrey;
    width: 100px;
    color: white;
    font-size: 1.1em;
    padding: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -150px;
    left: 10px;
}

.field-circle {
    display: flex;
    position: absolute;
    margin-left: 189px;
    margin-top: 75px;
    background: darkgreen;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 50%;
}
.vertical-line {
    border-right: 2px solid white;
    margin-left: 99px;
}
