
html{

    background-color:black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {

    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
.canvas {
    border: solid .3em #8888;
    height: 400px;
    display: inline-block;
    width: 300px;
    position: relative;
}

.controls{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding:10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gold;
}
.titles{
    font-size: 46px;
    font-weight: bold;
    color: white;
    padding:10px;
    margin-bottom: 20px;

}

.newBlock {
    width: 100px;
    height: 100px;
    background: lightcoral;
    position: absolute;
    border: 4px solid white;
}
