
<title>Tetris js test</title>


<link rel="stylesheet" href="css/styles.css">

<div class="titles">Tetris from Bad programmers</div>
<div class="controls">Buttons left and right for control, buttons down for failing </div>
<div>

</div>
<div class="canvas" id="canvas"></div>
<script src="js/scripts.js"></script>





