.score {
    border: 1px black solid;
    width: 50px;
    height: 30px;
    background-color: rgba(0, 250, 154, 0.35);
    margin: 0 auto;
}
.field {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: rgba(0, 0, 255, 0.3);
    margin: 20px auto;
}
.food{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
}